@use 'sass:meta';
@use 'sass:map';
@use '../../../vendor/core/list';

///
/// @param {Map} $expressions
///
/// @return {List}
///
@function post-processing($expressions) {
    $expressionList: ();

    @each $key, $queryMap in $expressions {
        $resultList: if(map.has-key($queryMap, 'device'),
            map.get($queryMap, 'device'), ()
        );

        @each $dimension, $value in map.get($queryMap, 'features') {
            $resultList: list.join($resultList, ('(#{$dimension}: #{$value})'), 'comma')
        }

        $expressionList: list.append($expressionList, $resultList, 'comma');
    }

    @return $expressionList;
}
